/* Sidebar.css */
.sidebar { 
  flex: 1;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px; /* ボタンを上に詰める */
}

.sidebar-button {
  width: 150px; /* ボタンの幅を統一 */
  height: 50px; /* ボタンの高さを統一 */
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black; /* ボタンの枠を黒に設定 */
  background-color: #f0f0f0; /* 背景色を統一 */
  color: black; /* テキスト色を統一 */
}

.text-button {
  background-color: #f0f0f0; /* 背景色を統一 */
  color: black; /* テキスト色を統一 */
}

.button-image {
  width: 24px;
  height: 24px;
}
