/* ヘッダーのスタイル */
.header {
  background-color: #2196f3; /* 青色の背景に設定 */
  height: 60px; /* ヘッダーの高さを低く設定 */
  display: flex;
  align-items: center;
  position: fixed; /* ヘッダーを固定 */
  width: 100%; /* ヘッダーを画面全体の幅に設定 */
  z-index: 1100; /* ヘッダーが他の要素の上に表示されるように設定 */
  padding-left: 20px; /* 左側に余裕を追加 */
}

/* ツールバーのスタイル */
.toolbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start; /* アイテムを左に寄せる */
}

/* メニューボタンのスタイル */
.menu-button {
  font-size: 3rem; /* メニューボタンをさらに大きくする */
  margin-right: 16px; /* メニューボタンとロゴの間にスペースを追加 */
}

/* ヘッダーのロゴのスタイル */
.header-logo {
  height: 40px; /* ロゴ画像の高さを低く設定 */
  margin-right: 16px; /* メニューボタンとロゴの間にスペースを追加 */
}

/* タイトルのスタイル */
.title {
  flex-grow: 1; /* タイトルを可能な限り広げる */
}

/* スマートフォン（最大幅 600px）の場合のスタイル */
@media screen and (max-width: 600px) {
  .header {
    height: 50px; /* 適宜調整 */
  }
  
  .header-logo {
    height: 30px; /* ロゴの高さを適宜調整 */
  }
  
  .menu-button {
    font-size: 2rem; /* スマホの場合のメニューボタンの大きさを調整 */
    margin-right: 8px; /* メニューボタンとロゴの間にスペースを追加 */
  }
}
