/* src/components/Header.css */
.header {
    /* 背景画像挿入 */
    background-image: url('../assets/images/header_image.jpg');
    background-size: cover;
    background-position: center;
    
    /* ヘッダーの高さを設定 */
    height: 100px;
    display: flex;
    
    /* 子要素を縦方向（垂直方向）中央に配置 */
    /* 子要素を横方向（水平方向）中央に配置 */
    align-items: center;
    justify-content: center;
  }
  
  /* ヘッダー内のコンテンツのスタイルを設定 */
  .header-content {
    /* テキストを中央揃えにする */
    text-align: center;
  }
  
  /* ヘッダーのロゴのスタイルを設定 */
  .header-logo {
    /* ロゴ画像の高さ設定 */
    height: 75px;
  }
  